Hello ${token.user.name}

Your application to the RMAS system has been approved. Please follow this link to set your password.

${rmasWebUrl}resetPassword/${token.token}

We hope you find it intuitive and easy to use, however, if you have any issues, the RMAS service desk is open from 0800 - 1800 Monday to Friday and they can be contacted via the information below
Phone: 01934 839039
Email: rmas@costain.com

Thank you.

The RMAS team
