<html>
<body>
<p>Hello ${userName}</p>

#if(!$rejectReason)
    <p>Your application to the RMAS system has been rejected.</p>
    <p>Please contact with your project sponsor for more details.</p>
#else
    <p>Your application to RMAS system has been rejected for the following reason: <blockquote><q>$rejectReason</q></blockquote></p>
#end

<p>Thank you.</p>

<p>The RMAS team</p>

</body>
</html>