<div class="container-fluid">
    <div class="page-header" >
        <h1>Device Operation</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Device Details</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-6" >
                            <div class="row">
                                <div class="col-md-6">IP address: {{deviceDetails.ipAddress}}</div>
                                <div class="col-md-6">HE geographic address: {{deviceDetails.haGeographicAddress}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">RCC: {{deviceDetails.rccRegion}}</div>
                                <div class="col-md-6">Manufacturer: {{deviceDetails.manufacturer}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Firmware version: {{deviceDetails.firmwareVersion}}</div>
                                <div class="col-md-6">Maintenance region: {{deviceDetails.maintenanceContractRegion}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Type number: {{deviceDetails.manufacturerType}}</div>
                                <div class="col-md-6">Serial number: {{deviceDetails.serialNumber}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Hardware version: {{deviceDetails.hardwareVersion}}</div>
                                <div class="col-md-6">Hostname: {{deviceDetails.hostname}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Latitude: {{deviceDetails.latitude}}</div>
                                <div class="col-md-6">Longitude: {{deviceDetails.longitude}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Enrolment date: {{deviceDetails.enrolmentDate| date:'yyyy-MM-dd'}}</div>
                                <div class="col-md-6">Bandwidth limit: {{deviceDetails.bandwidthLimit}}</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-md-12">Device list:
                                    <ul>
                                        <li ng-repeat='(key, value) in deviceDetails.deviceList'>
                                            <span>{{key}}</span>
                                            <ul>
                                                <li ng-repeat="subtype in value track by $index">
                                                    <span>{{subtype}}</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="break-all-words col-md-12">Manufacturer data: {{deviceDetails.manufacturerSpecificData}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3" ng-show="enabledActivities.uploadFirmware || enabledActivities.verify || enabledActivities.upgradeFirmware || enabledActivities.downgradeFirmware">
            <div class="panel panel-default">
                <div class="panel-heading">Firmware</div>
                <div class="panel-body">
                    <button ng-show="enabledActivities.uploadFirmware" class="btn btn-primary btn-block" ng-click="openUploadFirmwareDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Upload firmware</button>
                    <button ng-show="enabledActivities.verify" class="btn btn-primary btn-block" ng-click="openVerifyDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Verify firmware</button>
                    <button ng-show="enabledActivities.upgradeFirmware" class="btn btn-primary btn-block" ng-click="openUpgradeFirmwareDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Upgrade firmware</button>
                    <button ng-show="enabledActivities.downgradeFirmware" class="btn btn-primary btn-block" ng-click="openDowngradeFirmwareDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Downgrade firmware</button>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-show="enabledActivities.updateKey || enabledActivities.removeOldSshPublicKeys">
            <div class="panel panel-default">
                <div class="panel-heading">Access Keys</div>
                <div class="panel-body">
                    <button ng-show="enabledActivities.updateKey" class="btn btn-primary btn-block" ng-click="openUpdateKeyDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Update key</button>
                    <button ng-show="enabledActivities.removeOldSshPublicKeys" class="btn btn-primary btn-block" ng-click="openRemoveOldSshPublicKeysDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Remove old keys</button>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-show="enabledActivities.staticData || enabledActivities.resetDevice">
            <div class="panel panel-default">
                <div class="panel-heading">State</div>
                <div class="panel-body">
                    <button ng-show="enabledActivities.staticData" class="btn btn-primary btn-block" ng-click="openDownloadStaticDataDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Refresh device data</button>
                    <button ng-if="application.brand === 'RAIT'" ng-show="enabledActivities.resetDevice" class="btn btn-primary btn-block" ng-click="openResetDeviceDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Reset device</button>
                    <button ng-if="application.brand === 'RMAS'" ng-show="enabledActivities.resetDevice" class="btn btn-primary btn-block" ng-click="openPewNumberDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Reset device</button>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-show="enabledActivities.downloadLogs">
            <div class="panel panel-default">
                <div class="panel-heading">Logs</div>
                <div class="panel-body">
                    <button ng-show="enabledActivities.downloadLogs" class="btn btn-primary btn-block" ng-click="openDownloadLogsDialog()" ng-disabled="isDeviceNotRegisteredInRmas">Download logs</button>
                </div>
            </div>
        </div>
    </div>
</div>
