<div class="container-fluid full-width">
    <div ng-show="messageLevel === 'success'" class="alert alert-success">{{message}}</div>
    <div ng-show="messageLevel === 'error'" class="alert alert-danger">{{message}}</div>
    <h1>Request Password Reset</h1>
    <p>Please enter your email address. An email will be sent with instructions on how to reset your password.</p>
    <form id="reset-password-form" name="resetPasswordForm" novalidate class="form-horizontal">
        <div class="form-group" ng-class="{'has-error has-feedback' : isInvalidUserInput(resetPasswordForm.email)}">
            <label for="email" class="col-sm-1 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="jane.doe@employer.com" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" ng-click="submit()" ng-disabled="resetPasswordForm.$invalid">Reset</button>
        <button class="btn btn-primary" type="reset" ng-click="clear()">Clear</button>
    </form>
</div>
