/* 
    Document   : detector-manage
    Created on : 05-Feb-2014, 16:49:47
    Author     : liban
    Description:
        Detector manager CSS
*/

#manager-form {
    background: #f2f2f2;
    border: 1px gray dashed;
    margin: 10px;
    padding: 5px;
    width: 500px;
    float: left;
}

#command-form {
    background: #f2f2f2;
    border: 1px gray dashed;
    margin: 10px;
    padding: 5px;
    width: 300px;
    float: left;
}

#manager-form h2, #command-form h2 {
    margin-left: 0px;
    font-weight: bold;
    font-size: 12px;
}

#manager-form label {
    padding: 4px;
}

input[type=button]:hover {
    background: #eee;
}
input[type=button]:active {
    background: #fafafa;
}