Hello ${token.user.name}

We have received a password change request for this account. If you did 
not request this, you may ignore this email and your password will remain
unchanged, otherwise, please visit this link to change your password. 
 
${rmasWebUrl}resetPassword/${token.token}

Thank you.

The RMAS team
