<html>
<body>
<p>Hello ${token.user.name}</p>

<p>Your application to the RMAS system has been approved. Please follow <a href="${rmasWebUrl}resetPassword/${token.token}">this</a> link to set your password.</p>
<p>We hope you find it intuitive and easy to use, however, if you have any issues, the RMAS service desk is open from 0800 - 1800 Monday to Friday and they can be contacted via the information below</p>
<blockquote>
    <p>Phone: 01934 839039</p>
    <p>Email: rmas@costain.com</p>
</blockquote>

<p>Thank you.</p>

<p>The RMAS team</p>

</body>
</html>