<nav class="navbar navbar-default" ng-controller="headerController">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="pull-left no-text-content" ng-include="'images/logo.svg'"></div>
            <a class="navbar-brand no-reduce-left-margin" href="#/" ng-if="application.brand === 'RMAS'"><%= application.brand %></a>
            <a class="navbar-brand no-reduce-left-margin" ng-if="application.brand === 'RAIT'"><%= application.brand %></a>
        </div>
        <ul class="nav navbar-nav" ng-show="showRMASMenus()">
            <li><a href="{{navbar.devices}}">Devices</a></li>
            <li><a href="{{navbar.sshKeys}}">SSH Key</a></li>
            <li uib-dropdown is-open="status.isopen">
                <a href uib-dropdown-toggle show-for-roles="ROLE_HEAPPROVER">Administration<span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li show-for-roles="ROLE_HEAPPROVER" role="menuitem"><a href="{{navbar.userRegistrationRequests}}">User Registration Requests</a></li>
                    <li show-for-roles="ROLE_HEAPPROVER" role="menuitem"><a href="{{navbar.userGroups}}">User Groups</a></li>
                    <li show-for-roles="ROLE_HEAPPROVER" role="menuitem"><a href="{{navbar.accountClassification}}">Account Classifications</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="showRMASMenus()">
            <li uib-dropdown>
                <a href uib-dropdown-toggle >{{currentUserName}}<span class ="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="{{profilePath}}">View Profile</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="{{changePasswordPath}}">Change Password</a></li>
                    <li role="menuitem"><a href="{{setup2faPath}}">Security Token</a></li>
                    <li class="divider"></li>
                    <li role="menuitem" class="" ><a href ng-click="logout()">Log Out</a></li>
                </ul>
            </li>            
        </ul>
        <ul class="nav navbar-nav" ng-show="showRAITMenus()">
            <li><a href="{{navbar.deviceDetails}}">Device Details</a></li>
            <li><a href="{{navbar.sshKeys}}">SSH Key</a></li>
        </ul>
    </div>
</nav>
