<form role="form" name="resetForm" class="form-horizontal">
    <div class="container-fluid">
        <div class="modal-header">
            <h1 class="modal-title">Reset Device</h1>
        </div>
        <div class="modal-body" ng-show="message.level !== 'error'">
            <div class="form-group"  ng-class="{'has-error' : isInvalidUserInput(resetForm.pewNumber)}">
                <label for="pewNumber">PEW number</label>
                <input type="text" class="form-control" id="pewNumber" name="pewNumber" ng-model="pewNumber.number" placeholder="PEW number" required>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="confirmDetails"  ng-model="resetForm.checkbox" required><span>I confirm that the PEW number is correct and my contact details are accurate and up to date</span>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="resetForm.$invalid" type="button" ng-click="resetDevice()">Reset device</button>            
        </div>
    </div>
</form>