<form role="form" ng-submit="ok()">
    <div class="container-fluid">
        <div class="modal-header">
            <p class="modal-title">Upload Firmware</p>
        </div>
        <div class="modal-body" ng-show="message.messageLevel !== 'error'">
            <div class="row"  ng-show="!results.status" >
                <label class="col-md-4">New firmware file(s)</label>
                <div class="col-md-8">                    
                    <button ngf-select="selectFiles($files)" name="files" multiple="multiple" ng-click="reset()">Select files</button>
                    <ul>
                        <li ng-repeat="name in fileNames">
                            {{name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show="results.status" >
                <label>Status:&nbsp;</label> {{results.status || "Uploading.."}}
            </div>
            <div error-message-directive></div>
        </div>
        <div ng-show="message.level === 'warn' && !results.status" class="alert alert-warning">{{message.text| errorMessageFilter}}</div>
        <div ng-show="message.level === 'error'" class="alert alert-danger">{{message.text}}</div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-show="!results.status" type="button" ng-disabled="isFirmwareLoaded()" ng-click="uploadFiles()">
                <span ng-hide="showSpinner">Upload <i class="glyphicon glyphicon-upload"></span>
                <span ng-show="showSpinner"> Uploading.... <i class="glyphicon glyphicon-refresh glyphicon-spin"></i></span>
            </button>            
            <modal-result-footer/>
        </div>
    </div>
</form>