<div class="panel panel-default">
    <div class="panel-body ">
        <div class="row" ng-repeat="filter in filters track by $index">
            <div class="form-inline text-center">
                <div class="form-group">
                    <label for="ipaddress">IP address</label>&nbsp;
                    <input ng-disabled="disabledParameter('ipAddress')" type="text" ng-model="filters[$index].ipAddress" class="form-control"  id="ipAddress">&nbsp;
                </div>
                <div class="form-group">
                    <label for="haGeographicAddress">HE geographic address</label>&nbsp;
                    <input ng-disabled="disabledParameter('haGeographicAddress')" type="text" ng-model="filters[$index].haGeographicAddress" class="form-control" id="haGeographicAddress">&nbsp;
                </div>
                <div class="form-group">
                    <label for="rccRegion">RCC</label>&nbsp;
                    <select ng-disabled="disabledParameter('rccRegion')" ng-model="filters[$index].rccRegion" ng-options="rcc.name as rcc.name for rcc in rccs" class="form-control" id="rccRegion">
                        <option value="">Select RCC</option>
                    </select>&nbsp;
                </div>
                <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>&nbsp;
                    <input ng-disabled="disabledParameter('manufacturer')" type="text" ng-model="filters[$index].manufacturer" class="form-control" id="manufacturer">&nbsp;
                </div>
                <div class="form-group">
                    <label for="firmwareVersion">Firmware version</label>&nbsp;
                    <input ng-disabled="disabledParameter('firmwareVersion')" type="text" ng-model="filters[$index].firmwareVersion" class="form-control" id="firmwareVersion">&nbsp;
                </div>
                <div class="form-group">
                    <label for="maintenanceContractRegion">Maintenance region</label>&nbsp;
                    <input ng-disabled="disabledParameter('maintenanceContractRegion')" type="text" ng-model="filters[$index].maintenanceContractRegion" class="form-control" id="maintenanceContractRegion">&nbsp;
                </div> 
                <div class="form-group">
                    <button class="btn btn-primary btn-sm" type="submit" ng-click="deleteRow($index)" ng-show="showDeleteRow()"><span class="glyphicon glyphicon-minus"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
