<div>
    <div class="panel panel-default">
        <div class="panel-heading">Highways England password policy</div>
        <div class="panel-body">
            <ul>
                <li>Minimum of 8 characters</li>
                <li>Must contain at least 3 of the following
                    <ul>
                        <li>an upper case character</li>
                        <li>a lower case character</li>
                        <li>a number</li>
                        <li>a non alpha numeric character (i.e. ^,£,$,")</li>
                    </ul>
                </li>
                <li>Must not contain consecutive characters (i.e. 'ee', '77', '^^')</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Please enter your password</div>
        <div class="panel-body">
            <form id="password-setting-form" name="setPasswordForm" novalidate class="form-horizontal">
                <div ng-show="config.currentPasswordVisible" class="form-group" ng-class="{'has-error has-feedback' : isInvalidUserInput(setPasswordForm.currentPassword)}">
                    <label for="currentPassword" class="col-sm-4 col-md-3 control-label">Current password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="currentPassword" ng-model="currentPassword.password" ng-required="config.currentPasswordVisible" ng-model-options="{debounce: 500}">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error has-feedback' : isInvalidUserInput(setPasswordForm.password)}">
                    <label for="password" class="col-sm-4 col-md-3 control-label">New password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" ng-model="newPassword.password" required ng-model-options="{debounce: 500}" password>
                    </div>
                </div>
                <div class="row" ng-show="isInvalidUserInput(setPasswordForm.password)">
                    <span class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">Password does not meet Highways England password policy</span>
                </div>
                <div class="form-group" ng-class="{'has-error has-feedback' : isInvalidUserInput(setPasswordForm.passwordCheck)}">
                    <label for="passwordCheck" class="col-sm-4 col-md-3 control-label">Re-enter new password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" ng-model="newPassword.passwordCheck" required ng-model-options="{debounce: 500}" password-check>
                    </div>
                </div>
                <div class="row" ng-show="isInvalidUserInput(setPasswordForm.passwordCheck)">
                    <span class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">Passwords do not match</span>
                </div>
                <button class="btn btn-primary" type="submit" ng-click="submit()" ng-disabled="setPasswordForm.$invalid || resetPassword.submittedPassword">Change</button>
                <button class="btn btn-primary" type="reset" ng-click="clear()">Clear</button>
            </form>
        </div>
    </div>
</div>