<html>
<body>
<p>Hello ${user.name}</p>

<p>Your RMAS account has been locked.</p>

<p>Please contact the RMAS service desk to request for it to be unlocked.<p>

<p>The RMAS service desk is open from 0800 - 1800 Monday to Friday and they can be contacted by:</p>

<p>Phone: 01934 839039</p>
<p>Email: rmas@costain.com</p>

<p>Thank you.</p>

<p>The RMAS team</p>

</body>
</html>