Hello ${user.name}

This email is to confirm that the password on your account has been changed in the RMAS system.

If you initiated this change, no further action is required. However, if you did not initiate this please contact the service desk.

The RMAS service desk is open from 0800 - 1800 Monday to Friday and they can be contacted by:

Phone: 01934 839039
Email: rmas@costain.com

Thank you.

The RMAS team
