<div class="container-fluid full-width">
    <div ng-show="messageLevel === 'success'" class="alert alert-success">{{message}}</div>
    <div ng-show="messageLevel === 'error'" class="alert alert-danger">{{message}}</div>
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Pending User Registration Request</h1>
                </div>
                <div class="panel-body">
                    <user-details config="config.userDetailsDirective" user='user.details'></user-details>
                    <form id="pending-user-registration-form" name="pendingUserRegistrationForm" novalidate class="form-horizontal">
                        <div class="form-group" >
                            <label for="userGroup" class="col-sm-3 control-label">User group</label>
                            <div class="col-sm-9">
                                <select required ng-model="user.details.userGroup" ng-options="userGroup.groupName as  userGroup.groupName for userGroup in userGroups" id="userGroup" name="userGroup" class="form-control">
                                    <option value="">Select user group</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="rejectApproveReason" class="col-sm-3 control-label">Reject/Approve reason</label>
                            <div class="col-sm-9">
                                <textArea class="form-control" msd-elastic id="rejectApproveReason" name="rejectApproveReason" ng-model="user.details.rejectApproveReason"></textArea>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" ng-disabled="pendingUserRegistrationForm.$invalid" ng-click="approve()">Approve</button>
                        <button class="btn btn-primary" type="submit" ng-click="reject()">Reject</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>